/* ==========================================================================
Main page styles
========================================================================== */

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: 0;
}
