/* ==========================================================================
Main page styles
========================================================================== */

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  justify-content: center;
}
